apiVersion: v1
kind: Service
metadata:
  name: worker-service
  namespace: microservices-demo
  labels:
    app: worker-service
spec:
  type: ClusterIP
  selector:
    app: worker-service
  ports:
  - port: 8081
    targetPort: 8081
    protocol: TCP
    name: http
